@charset "UTF-8";
body {
    font-family: "Avenir Next";
    margin: 0;
    padding: 0;
    background: #fff;
  }
  
  @media screen and (max-width: 480px){}
  
  
  .header {
    width: 100%;
    height: 100px;
    background:none;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex; /* flexboxを作る */
    align-items: center; /* 上下中央に揃える */
    justify-content: space-between; /*両端にそろえる*/
    position: fixed;
    top: 0;
  }
  
  
  .header-title {
    color: #8D3C01;
    margin: 20px 40px;
  }
  
  .header-title a{
    color: #8D3C01;
    font-size: 30px;
    text-decoration: none;
  }
  .header-title a:hover {
    text-decoration: underline;
  }
  .header-sub{
      font-size: 25px;
      display: flex;
      justify-content: flex-end;
  }
  .item{
    background:none;
    color: #8D3C01;
    margin-top: 20px;
    padding: 15px;
  }
  .item a{
      color: #8D3C01;
      font-size: 28px;
      text-decoration: none;
  }
  .item a:hover {
    text-decoration: underline;
  }
  .content1{
      text-align: center;
      padding-top: 160px;
  }
  .content1 p{
      font-size: 20px;
      color: #542800;
      line-height: 50px;
  }
  .content1 section{
    max-width: 300px;
    margin: 0 auto;
  }
  a.btn_02 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #D7AA66;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 6% 0 12%;
    color: #D7AA66;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
    transition-duration: 0.2s;
  }
  a.btn_02:hover {
    background: #D7AA66;
    color: #fff;
  }
  a.btn_02:hover {
    background: #D7AA66;
    color: #fff;
  }
  a.btn_02:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 8px;
    border-color: transparent transparent transparent #D7AA66;
    position: absolute;
    top: 50%;
    left: 6%;
    margin-top: -7px;
  }
  a.btn_02:hover:before {
    border-color: transparent transparent transparent #fff;
  }
  .content2{
    background-color: #FFEBDC;
    height: 1150px;
    color: #9B5421;
    font-size: 30px;
  }
  .introduce{
    padding:0;
    padding-top: 50px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 35px;
  }
  .kizon{
    font-size: 20px;
    text-align: center;
  }
  .member1{
    display: flex;
    justify-content: space-around; 
  }
  .aino{
    margin-left: 70px;
  }
  .aino_photo{
    max-width: 318px;
    max-height: 430px;
  }
  .chief{
    margin-bottom: -10px;
  }
  .aino_name{
    transform:rotate(90deg);
    margin-top: -230px;
    margin-left: 225px;
  }
  .konomi_photo{
    max-width: 320px;
    max-height: 400px;
  }
  .sub_chief{
    margin-bottom: -10px;
  }
  .konomi_name{
    transform:rotate(90deg);
    margin-top: -250px;
    margin-left: 240px;
  }
  .member2{
    display: flex;
    justify-content: space-around; 
    margin-top: 200px;
    margin-left: 50px;
  }
  .kazuya_photo{
    max-width: 320px;
    max-height: 400px;
    margin-left: 50px;
  }
  .recreation{
    margin-bottom: -10px;
    margin-left: 50px;
  }
  .kazuya_name{
    transform:rotate(90deg);
    margin-top: -250px;
    margin-left: 280px;
  }
  .akinori_photo{
    max-width: 340px;
    max-height: 320px;
    margin-left: 60px;
  }
  .mentor{
    margin-bottom: -10px;
    margin-left: 60px;
  }
  .akinori_name{
    transform:rotate(90deg);
    margin-top: -220px;
    margin-left: 270px;
  }
  .content3{
    color: #542800;
    font-size: 35px;
    text-align: center;
  }
  .schedule{
    text-decoration: underline;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: bold;
  }
  .content4{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    font-size: 30px;
  }
  .insta{
    max-width: 230px;
    max-height: 230px;
  }
  .tap{
    margin-top: 100px;
    margin-left: -400px;
  }
  .footer {
    background-color: #814D00;
    color: #fff;
    text-align: center;
    height: 80px;
    padding: 30px;
    margin-top: 30px;
  }
  
  .footer-logo {
    font-size: 23px;
  }